{% extends "AstinaRedirectManagerBundle::content_layout.html.twig" %}
{% trans_default_domain "AstinaRedirectManagerBundle" %}

{% block armb_content %}
    <div class="box-header with-border">
        <h3 class="box-title">{{ (group.id? 'list.edit_group' : 'list.new_group') | trans }}</h3>
    </div>
    {% set action = group.id ? path('armg_group_edit', {'id': group.id}) : path('armg_group_new') %}
    {{ form_start(form, {'action': action, 'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
    <div class="box-body">
        {{ form_widget(form) }}
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary"><i
                    class="fa fa-save"></i> {{ (group.id? 'form.edit' : 'form.submit') | trans }}</button>
        <a href="{{ path('armb_homepage') }}" class="btn btn-default"><i class="fa fa-list"></i> {{ 'form.back_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
    {% if group.id %}
        <div class="box-footer">
            <form action="{{ path('armg_group_delete', {'id': group.id}) }}" method="post">
                <input type="submit" class="btn btn-danger" value="{{ 'group.delete' | trans }}"/>
            </form>
        </div>
    {% endif %}

{% endblock %}
